<!-- 21/04/16 로그인 페이지 -->
{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel ="stylesheet" type="text/css" href="{% static '/bootstrap.min.css' %}" >
<div class="container my-3">
    <form method="post" class="post-form" action="{% url 'common:login' %}">
        {% csrf_token %}
        <!-- 로그인 성공 후 이동되는곳  -->
        <input type="hidden" name="next" value="{{next}}">
        {% include "common/form_errors.html" %}
        <div  class="form-group">
            <!-- [0419] 회원가입이 안되어 있을시 새로운 계정 만들기 -->
            <div class="col-8 text-right">

              로그인 <span>또는 <a href="{% url 'common:signup' %}">계정</a> 을 만드세요</span>
            </div>
            <label for="username">사용자 ID</label>
            <!-- 장고에서 제공하는 내장 템플릿 필터
            add : 변수에 값을 추가해주는 필터
            default: 값이 false 면 기본값 사용
            default_if_none : 값이 none 면 기본값('')을 사용
            dictsort : 딕셔너리를 받아서 주어진 키별로 정렬
            upper,lower : 대,소문자 변환
            make_list : 문자열이나 숫자열을 리스트로 변환
            -->
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
          <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password"
                   value="{{ form.password.value|default_if_none:'' }}">
        </div>
          <button type="submit" class="nav-link">로그인</button>
    </form>
</div>
{% endblock %}